@page
@using Cloudy.CMS.ContentSupport;
@using Cloudy.CMS.Naming
@using Cloudy.CMS.Routing;
@using Cloudy.CMS.UI.FormSupport
@model Cloudy.CMS.UI.Areas.Admin.Pages.EditModel

@inject INameGetter NameGetter
@inject IContentRouteMatcher ContentRouteMatcher

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="@Url.Page("List", new { area = "Admin", ContentType = Model.ContentType.Name })">@Model.ContentTypeName.PluralName</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1 class="h2 mb-3">
        @NameGetter.GetName(Model.Instance)

        @{
            var routes = ContentRouteMatcher.GetFor(Model.ContentType.Type);

            if (routes.Any())
            {
                if(routes.Count() == 1)
                {
                    var route = routes.Single();
                    var url = "/" + route.Apply(((IRoutable)Model.Instance).UrlSegment);

                    <a class="btn btn-beta btn-sm" href="@url">
                        View
                    </a>
                }
                else
                {
                    <div class="dropdown d-inline-block">
                        <button class="btn btn-beta btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            View
                        </button>
                        <ul class="dropdown-menu">
                            @foreach(var route in routes)
                            {
                                var url = "/" + route.Apply(((IRoutable)Model.Instance).UrlSegment);
                                <li><a class="dropdown-item" href="@url">@url</a></li>
                            }
                        </ul>
                    </div>
                }
            }
        }
        <a class="btn btn-sm btn-primary" href="@Url.Page("New", new { area = "Admin", ContentType = Model.ContentType.Name })">New</a>
    </h1>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            @await Component.InvokeAsync("Form", new { area = "Admin", ContentType = Model.ContentType.Name, Instance = Model.Instance })
        </div>
    </div>
</div>

@await Html.PartialAsync("Shared/Footer")