@page
@using System.Text.Json
@model Cloudy.CMS.UI.Areas.Admin.Pages.ListModel

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a href="@Url.Page("List", new { area = "Admin", ContentType = Model.ContentType.Name })">@Model.ContentTypeName.PluralName</a></li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1 class="h2 mb-3">
        Listing @Model.ContentTypeName.PluralName
        <a class="btn btn-sm btn-primary" href="@Url.Page("New", new { area = "Admin", ContentType = Model.ContentType.Name })">New</a>
    </h1>
</div>

@{
    var settings = new {
        ContentType = Model.ContentType.Name,
        Columns = Model.Columns,
        PageSize = 15,
        EditLink = Url.Page("Edit", new { area = "Admin", ContentType = Model.ContentType.Name }),
        DeleteLink = Url.Page("Delete", new { area = "Admin", ContentType = Model.ContentType.Name }),
    };
}

<div class="container">
    <div class="card">
        <div class="card-body" style="min-height: 500px;">
            <div class="list-page-table" settings="@JsonSerializer.Serialize(settings)">
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Shared/Footer")