@page
@using System.Text.Json
@model Cloudy.CMS.UI.Areas.Admin.Pages.ListModel

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a href="@Url.Page("List", new { area = "Admin", ContentType = Model.ContentType.Name })">@Model.ContentTypeName.PluralName</a></li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1 class="h2 mb-2">
        Listing @Model.ContentTypeName.PluralName
        <a class="btn btn-sm btn-primary" href="@Url.Page("New", new { area = "Admin", ContentType = Model.ContentType.Name })">New</a>
    </h1>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="list-page-table" settings="@JsonSerializer.Serialize(new { ContentType = Model.ContentType.Name, Columns = Model.Columns, PageSize = 10, EditLink = Url.Page("Edit", new { area = "Admin", ContentType = Model.ContentType.Name }) })">
            </div>
        </div>
    </div>
</div>