@page
@using Cloudy.CMS.UI.FormSupport
@model Cloudy.CMS.UI.Areas.Admin.Pages.NewModel

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="@Url.Page("List", new { area = "Admin", ContentType = Model.ContentType.Name })">@Model.ContentTypeName.PluralName</a></li>
            <li class="breadcrumb-item active">New</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1 class="h2 mb-3">
        New @Model.ContentTypeName.LowerCaseName
        <a class="btn btn-sm btn-beta" href="@Url.Page("List", new { area = "Admin", ContentType = Model.ContentType.Name })">Back</a>
    </h1>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="cloudy-form" content-type="@Model.ContentType.Name"></div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Shared/Footer")