@using Cloudy.CMS.EntityTypeSupport
@using Cloudy.CMS.EntityTypeSupport.Naming
@using Cloudy.CMS.EntitySupport.PrimaryKey;
@using Cloudy.CMS.Naming
@using System.Reflection
@inject IHumanizer Humanizer
@inject IEntityTypeProvider EntityTypeProvider
@inject IEntityTypeNameProvider EntityTypeNameProvider

<nav class="navbar navbar-expand-lg mb-2">
    <div class="container">
        <a class="navbar-brand" href="/">@Humanizer.Humanize(Assembly.GetEntryAssembly().GetName().Name)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@Url.Page("Index", new { area = "Admin" })">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Content types
                    </a>
                    <ul class="dropdown-menu">
                        @foreach(var entityType in EntityTypeProvider.GetAll().Where(t => t.IsIndependent).OrderBy(c => c.Name)){
                            var name = EntityTypeNameProvider.Get(entityType.Type);

                            @if (entityType.IsSingleton)
                            {
                                <li><a class="dropdown-item" href="@Url.Page("List", new { area = "Admin", EntityType = entityType.Name })">@name.Name</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="@Url.Page("List", new { area = "Admin", EntityType = entityType.Name })">@name.PluralName</a></li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
